<section class="mx-auto max-w-2xl">
  <aside class="container mx-auto flex justify-center items-center flex-col">
    <p>
      Gesamt <strong class="">{{ numbOnlineOrders + numbOfflineOrders }}</strong> Bestellungen von
      <strong>{{ (onlineRevenues + offlineRevenues) | currency:'EUR'}}</strong>
    </p>
    <p>
      Online bezahlt
      <mat-icon [ngStyle]="{'color':'#009688', 'font-size': '18px'}">check_circle</mat-icon>
      <strong class="">{{ numbOnlineOrders }}</strong> Bestellungen von
      <strong>{{ (onlineRevenues) | currency:'EUR'}}</strong>
    </p>

    <div class="grid grid-cols-6 items-center">
      <div class="col-start-2 col-span-1">
        <mat-icon class="cursor-pointer" id="pdfIcon" color="primary" (click)="onExportPdf()">picture_as_pdf
        </mat-icon>
      </div>
      <div class="col-end-6 col-span-3">
        <form [formGroup]="datePickerForm">
          <mat-form-field (click)="onDatePickerFocus(picker)">
            <input formControlName="chosenDate" matInput placeholder="Select a date"
                   [matDatepicker]="picker" (dateChange)="onDateChanged($event.value)"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
    </div>

  </aside>

  <main class="">
    <mat-table [dataSource]="ordersDataSource" class=""
               matSort matSortActive='createdAt' matSortDirection="desc" matSortDisableClear>
      <!-- date column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Datum
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'short':'UTC':'de'}} </mat-cell>
      </ng-container>

      <!-- orderCode column -->
      <ng-container matColumnDef="orderCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          #
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.orderCode}} </mat-cell>
      </ng-container>

      <!-- postcode column -->
      <ng-container matColumnDef="postcode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Postcode
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.postcode}} </mat-cell>
      </ng-container>

      <!-- price column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Betrag
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.price | currency: 'EUR'}} </mat-cell>
      </ng-container>

      <!-- paidOnline column -->
      <ng-container matColumnDef="paidOnline">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Online bezahlt
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span *ngIf="element.paidOnline === 1">
            <mat-icon [ngStyle]="{'color':'#009688'}">check_circle</mat-icon>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </main>

  <aside *ngIf="(loadedOrders.length === 0)"  class="container mx-auto my-10 flex justify-center items-center flex-col">
    <h3>Keine Bestellungen für {{ formatTimeGerman(datePickerForm.value.chosenDate) }}</h3>
  </aside>
</section>
