<form *ngIf="(isAuth$ | async) == false" [formGroup]="loginForm" (ngSubmit)="onLogin()" method="post">
  <div class="flex justify-center items-center flex-col p-4 mt-40">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input matInput class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
             id="username" type="text" formControlName="username" name="username" placeholder="Username">
      <!--      <input matInput type="text" formControlName="username" name="username">-->
    </div>
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input matInput class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
             id="password" type="password" formControlName="password" name="password"
             placeholder="******************" required>
      <!--      <input matInput type="password" formControlName="password" name="password" required>-->
    </div>
    <span class="text-red-500" *ngIf="error"> {{error}} </span>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" class="button" type="submit">Login</button>
    </div>
  </div>
</form>

<button mat-raised-button color="primary" *ngIf="(isAuth$ | async) == true" class="button" type="button"
        (click)="onToDashboard()">To Dashboard
</button>
