<mat-toolbar color="primary" class="mb-2">
  <section
    class="container max-w-screen-md mx-auto flex flex-row justify-between"
  >
    <div>
      <button mat-button routerLink="/dashboard">Umsatz</button>
      <button mat-button routerLink="/live-orders">Live Bestellungen</button>
    </div>

    <div>
      @if ((isAuth$ | async) === false) {
        <button mat-flat-button color="primary" routerLink="/login">
          Log In
        </button>
      }

      @if ((isAuth$ | async) === true) {
        <button mat-flat-button color="primary" (click)="onLogOut()">
          Log Out
        </button>
      }
    </div>
  </section>
</mat-toolbar>
