<main>
  <p>
    <strong>{{ data.customer.fullName }}</strong>
  </p>
  <p>{{ data.customer.street }} {{ data.customer.streetNumber }}</p>
  @if (data.customer.extra) {
    <p>{{ data.customer.extra }}</p>
  }
  <p>{{ data.customer.postcode }}, {{ data.customer.city }}</p>
  <p>Tel: {{ data.customer.phoneNumber }}</p>

  <hr />

  <section class="pt-5">
    @for (product of data.products; track product) {
      <div class="mb-1">
        <div class="flex justify-between">
          <span>
            <strong>{{ product.quantity }}</strong> x {{ product.name }}
            @if (product.code) {
              (<strong>#{{ product.code }}</strong
              >)
            }
          </span>

          <span>
            {{ product.totalAmount | currency: "EUR" }}
          </span>
        </div>

        @for (specification of product.specifications; track specification) {
          <div class="flex justify-between">
            <span class="ml-6" nz-typography nzType="secondary"
              >+ {{ specification.name }}</span
            >

            <span>
              {{ specification.totalAmount | currency: "EUR" }}
            </span>
          </div>
        }
      </div>
    }
  </section>

  <section class="">
    <div class="flex justify-between">
      <span class="ml-6" nz-typography nzType="warning">Lieferungskosten</span>

      <span>
        {{ data.deliveryFree | currency: "EUR" }}
      </span>
    </div>
  </section>

  <hr />

  <section class="pt-5">
    <div class="flex justify-between">
      <span class="" nz-typography
        >Status: {{ data.status | status: false }}</span
      >

      <h3 class="text-right">
        Total: <strong>{{ data.customerTotal | currency: "EUR" }}</strong>
      </h3>
    </div>
  </section>
</main>
