<main>
  <p>
    <strong>{{ data.customer.fullName }}</strong>
  </p>
  <p>{{ data.customer.street }} {{ data.customer.streetNumber }}</p>
  <p *ngIf="data.customer.extra">{{ data.customer.extra }}</p>
  <p>{{ data.customer.postcode }}, {{ data.customer.city }}</p>
  <p>Tel: {{ data.customer.phoneNumber }}</p>

  <hr/>

  <section class="pt-5">
    <div class="mb-1" *ngFor="let product of data.products">
      <div class="flex justify-between">
      <span>
        <strong>{{ product.quantity }}</strong> x {{ product.name }}<span
        *ngIf="product.code"> (<strong>#{{ product.code }}</strong>)</span>
      </span>

        <span>
        {{ product.totalAmount | currency: "EUR" }}
        </span>
      </div>


      <div class="flex justify-between" *ngFor="let specification of product.specifications">
        <span class="ml-6" nz-typography nzType="secondary">+ {{ specification.name }}</span>

        <span>
        {{ specification.totalAmount | currency: "EUR" }}
        </span>
      </div>
    </div>
  </section>

  <section class="">
    <div class="flex justify-between">
      <span class="ml-6" nz-typography nzType="warning">Lieferungskosten</span>

      <span>
          {{ data.deliveryFree | currency: "EUR"}}
        </span>
    </div>
  </section>

  <hr/>

  <h3 class="pt-5 text-right">
    Total: <strong>{{ data.customerTotal | currency: "EUR" }}</strong>
  </h3>
</main>
